#content {
    padding: 10px;
}

.menu {
    padding: 20px 10px 20px 10px;

    &-title {
        >div {
            padding-right: unset;
        }
    }

    &-entry {
        width: 100%;
        max-width: unset !important;

        &-badge {
            height: 1.1rem !important;
            min-width: 1.5rem !important;
        }
    }
}

.error-alert {
    width: 80%;
    max-width: 80% !important;
}

button {
    &.top {
        top: 10px;

        &-second {
            top: 50px;
        }
    }

    &.right {
        right: 10px;
    }

    &.delete {
        position: absolute;
        width: 150px;
        padding-right: 5px;
    }
}

.inner-keys {
    .input-group {
        margin-bottom: 10px;
        display: flex;
        align-items: stretch;

        button.delete-inner-key {
            height: unset !important;
            border-radius: 0;
            height: calc(1.5em + 0.75rem + 2px);
        }
    }
}

.inner-table {
    padding-top: 12px;
    padding-bottom: 0px;
}

.meta-data {
    width: 50% !important;

    &-entry {
        padding-top: 0.4rem !important;
        padding-bottom: 0.4rem !important;
    }
}

.input-modal {
    margin-bottom: 10px !important;

    &-entry {
        label {
            margin-top: 10px;
            margin-bottom: 3px;
        }
    }
}

.separator {
    margin: 100px;
}

.hide {
    display: none !important;
}